body{
    overflow-x: hidden;
}
header{
    margin-top: 15px;
}
.navbar-nav{
    margin-left: 0;
}
.navbar-nav .nav-link {
    font-size: 1rem;
}
.bg{
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    height: 815px;
    width: 815px;
    margin-top: -55%;
    margin-left: 10%;
    position: absolute;
    z-index: -1;
}
.img{
    position: relative;
}
.header{
    margin-top: 25px;
    align-items: center;
}
.nav-item a{
    color: hsl(228, 39%, 23%) !important;
    margin: auto;
    padding: auto;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
}
.nav-item a:hover{
    color: hsl(12, 88%, 59%) !important;
}
.black_or{
    position: relative;
    color: white !important;
    background-color: hsl(12, 88%, 59%);
    padding: 5px 25px;
    border-radius: 30px;
    border: 2px solid hsl(12, 88%, 59%);
    font-weight: 500;
}
.black_or a{
    color: white!important;
}
.black_or a:hover{
    color: hsl(228, 39%, 23%) !important;
}
.black_or:hover{
    color: hsl(12, 88%, 59%) !important;
    background-color: white;
    transition: 0.5s ease;
}
.light{
    margin: 20px 20px;
}
.text{
    align-items: center;
    margin-top: 150px;
}
.text1{
    align-items: center;
    margin-top: 150px;
}
.text2{
    align-items: center;
    margin-top: 150px;
    text-align: center;
}
.text3{
    align-items: center;
    margin-top: 150px;
    text-align: center;
    background-color: hsl(12, 88%, 59%);
    color: white;
    padding: 30px;
}
.btn_wt{
    background-color: white;
    color: hsl(12, 88%, 59%);
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 700;
}
h4{
    font-size: 30px;
    width: 70%;
    text-align: left;
}

.col{
    color: hsl(228, 39%, 23%);
}
p{
    color: hsl(227, 12%, 61%);
}
.num{
    color: white;
    background-color: hsl(12, 88%, 59%);
    padding: 10px 25px;
    border-radius: 30px;
}
.title{
    font-weight: 700;
    color: hsl(228, 39%, 23%);
}
.bg-2{
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    height: 815px;
    width: 815px;
    margin-top: 10%;
    margin-left: -110%;
    position: absolute;
    z-index: -1;
}
.card{
    background-color: hsl(0, 0%, 98%);
    border: none;
}
.card img{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: -10%;
}
footer{
    background-color: hsl(233, 12%, 13%);
    color: white;
    text-align: center;
}
.tag{
    color: white;
}
.tag:hover{
    color: hsl(12, 88%, 59%);
    text-decoration: none;
    transition: 0.5 ease all;
}
.mail{
    width: 250px;
}
.cr{
    margin-top: 70px;
}
.submit{
    font-weight: 500;
    color: white;
    background-color: hsl(12, 88%, 59%);
}
@media(max-width:1000px){
    .bg{
        display: none !important;
    }
    body{
        text-align: center;
    }
}
@media(max-width:1200px){
    .mail{
        margin: 0 auto;
    }
}
@media(max-width:650px){
    .bg-2{
        display: none !important;
    }
    body{
        text-align: center;
    }
}
@media(max-width:380px){
    .mail{
        width: 200px;
    }
}
@media(max-width:270px){
    .mail{
        width: 150px;
    }
}
@media (min-width:768px){
    .top-bar.bg-success{
        background-color: transparent !important;
    }
    .navbar-nav{
        margin-left: 100px;
    }
}
